main {
  position: relative;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1s;
}

.view.ng-leave,
.view.ng-leave-active {
  opacity: 0;
}

.view.ng-enter {
  opacity: 0;
}

.view.ng-enter-active {
  opacity: 1;
}
